extends _layout
block content
  h1 ระบบแชท
  hr
  .bg-dark.rounded.p-3.position-relative(style="height:500px")
    #chatMessage
    .position-absolute(style="bottom: 0.5rem; left: 0.5rem; right:0.5rem")
      form(onsubmit="onSendMessage(event)")
        .input-group
          input.form-control(id="message" type="text" name='message' placeholder='พิมข้อความ' autocomplete='off' required)
          button.btn.btn-primary ส่ง
block script
  script(src='/chat.js')

