doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    title Chat app
  body.bg-dark
    .container.my-3
      .row-justify-content-center
        .col-12.col-md-8
          .card
            .card-body
              h1 ระบบแชท
              hr
              .bg-dark.rounded.p-3.position-relative(style="height:500px")
                #chatMessage
                .position-absolute(style="bottom: 0.5rem; left: 0.5rem; right:0.5rem")
                  form(onsubmit="onSendMessage(event)")
                    .input-group
                      input.form-control(id="message" type="text" name='message' placeholder='พิมข้อความ' autocomplete='off')
                      button.btn.btn-primary ส่ง
    script(src='/chat.js')

