extends _layout
block content
  .d-flex.align-items-center
    h1.me-auto ระบบแชท
    a.btn.btn-danger.btn-sm(href="/delete") ลบแชท
  hr
  .bg-dark.rounded.p-3.position-relative.overflow-auto(style="height:500px")
    each message in messages
      -var d = new Date(message.recordedAt)
      -var momth = ['มกราคม','กุมภาพันธ','มีนาคม','เมษายน','มิถุนายน','กรกฎาคม','สิงหาคม','กันยายน','ตุลาคม','พฤศจิกายน','ธันวาคม']
      -var time = d.getHours()+':'+d.getMinutes()
      -var day = d.getDate()+' '+momth[(d.getMonth()-1)]+' '+d.getFullYear()
      div.d-flex.bg-secondary.text-white.py-2.rounded.mt-2.px-2
        div(style="margin-right:auto")= message.message
        div=day+' '+time
    #chatMessage
  form(onsubmit="onSendMessage(event)")
    .input-group.mt-1
      input.form-control.bg-secondary(id="message" type="text" name='message' placeholder='พิมข้อความ' autocomplete='off' required)
      button.btn.btn-primary #[img(src='../send.jpg' style='height:20px')]
block script
  script(src='/chat.js')

